/* Estilos generales para los botones */
.button {
    -fx-background-color: grey;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    

    -fx-transition: all 0.3s ease-in-out;
    
}

/* Efecto hover para cada botón */
.button:hover {
    -fx-background-color: linear-gradient(to bottom, 
        #ffffff 30%,  
        #00FFC8 80%  );
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-border-radius: 0px 0px 30px 30px;
    -fx-background-radius: 0px 0px 30px 30px;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.hbox-custom {
    -fx-background-color: white;
    -fx-border-radius: 10px; /* Opcional: Bordes redondeados */
    -fx-background-radius: 10px; /* Opcional: Bordes curvos */
}


/* Color de fondo de la pista del Slider */
.slider .track {
    -fx-background-color: #ccc;
    -fx-background-radius: 5px;
}

/* Estilo del "track" recorrido */
.slider .fill {
    -fx-background-color: linear-gradient(to right, #00FFC8, #0077FF);
    -fx-background-radius: 5px;
}

/* Estilo del botón de arrastre */
.slider .thumb {
    -fx-background-color: #00FFC8;
    -fx-background-radius: 50%;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0, 0, 2);
}

